/*колір тексту h2 та h3
color: #212121;*/
/*колір тексту p у h3 та телефону в Хедері
color: #757575;*/
/* білий
color: #FFFFFF;*/
/* блакитний, акцент
color: #2196F3;*/
/* чорний у Studio
color: #000000*/
/*бекграунд сірий
background: #F5F4FA;*/
/*підвал та герой 
background: #2F303A;*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-lite-color: #ffffff;
  --main-dark-color: #000000;
  --second-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --footer-phone-color: hsla(0, 0%, 100%, 0.6);
  --border-color: #eeeeee;
  --header-border-color: #ececec;
  --social-text: #afb1b8;
  --img-background-color: rgba(47, 48, 58, 0.8);
  --cubic: cubic-bezier(0.42, 0, 0.58, 1);
  --portfolio-card-color: rgba(33, 150, 243, 0.9);
  --background-buttom-color: #188ce8;
}

/*-----------*/
body {
  color: var(--primary-text-color);
  background-color: var(--main-lite-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/*----Reset----*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
  font-family: inherit;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: currentColor;
}
.section {
  padding: 94px 0px;
}
/*Контейнер*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
/*----Хедер-----*/
.site-header {
  border-bottom: 1px solid var(--header-border-color);
}
.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.item-two {
  padding-top: 32px;
  padding-bottom: 32px;
}
.item-two:first-child {
  margin-right: 30px;
}

/*кольори лого*/
.logo {
  color: var(--main-dark-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-accent {
  color: var(--accent-color);
}
/*Навігація по сайту*/
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.14;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item-one {
  margin-right: 50px;
}
.site-nav .item-one:last-child {
  margin-right: 0px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}
/*----Підкреслення---*/
.link::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -1px;
  opacity: 0;
}
.link::after {
  opacity: 0;
}
.link.current::after {
  opacity: 1;
}
/*-----Контакти------*/
.contacts.list .phone,
.contacts.list .e-mail {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.14;
  display: flex;
  align-items: center;
}
.contacts.list .phone:focus,
.contacts.list .phone:hover,
.contacts.list .e-mail:focus,
.contacts.list .e-mail:hover {
  color: var(--accent-color);
}

.contacts.list {
  display: flex;
  margin-left: auto;
}
.contacts.list .item-one + .item-one {
  margin-left: 50px;
}
/*Герой*/
.hero {
  background-color: var(--hero-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/main-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  color: var(--main-lite-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
/*-----Модальне вікно-----*/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.42, 0, 0.58, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--main-lite-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.42, 0, 0.58, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal .button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: var(--main-lite-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.modal .button-close:hover,
.modal .button-close:focus {
  fill: var(--accent-color);
}
.svg-close {
  width: 11px;
  height: 11px;
}

/* Секції*/
/*Головна сторінка*/

.section-title,
.section-subtitle {
  color: var(--title-text-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.img-box {
  display: flex;
  justify-content: center;
}
.img-box .image-first + .image-first {
  margin-left: 30px;
}

.image-first {
  position: relative;
}

.img-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: var(--main-lite-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--img-background-color);
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%);
}
.section-subtitle.first {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-subtitle.second {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/*-----Переваги-----*/
.features {
  padding-bottom: 0px;
}
.feature-list {
  display: flex;
  gap: 30px;
}
.advantage {
  width: 270px;
}
.advantage:not(:last-child()) {
  margin-right: 30px;
}

.advantage-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--second-background-color);
  margin-bottom: 30px;
}

/*Картки співробітників*/
.comand-section {
  background-color: var(--second-background-color);
}
.our-comand {
  display: flex;
}
.our-comand .item + .item {
  margin-left: 30px;
}
.our-comand .item {
  background-color: var(--main-lite-color);
  border-radius: 0px 0px 4px 4px;
}
.card {
  padding: 30px 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.social {
  margin-top: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.social-link:not(:last-child) {
  margin-right: 10px;
}
.social-item {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: var(--social-text);
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:hover,
.social-item:focus {
  color: var(--main-lite-color);
  background-color: var(--accent-color);
}

.social-icon {
  --color1: currentColor;
}
/*---Постійні клієнти----*/
.customers-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
}

.customer {
  margin-left: 30px;
}

.customer:first-child {
  margin-left: 0;
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  color: var(--social-text);
  border: 1px solid var(--social-text);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.customer-icon {
  --color1: currentColor;
}
/*Сторінка Портфоліо*/
.info-title {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: inherit;
  margin-bottom: 4px;
  color: var(--title-text-color);
}

.project-card {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.block {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
block:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.block:nth-child(3n) {
  margin-right: 0px;
}
.block:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.info-block {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.block-link {
  display: block;
  transition: box-shadow 250ms var(--cubic);
}
.block-link:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.set {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-card-color);
  transform: translateY(101%);
  transition: transform 250ms var(--cubic);
}
.card-set {
  position: relative;
  overflow: hidden;
}

.block-link:hover .set,
.block-link:focus .set {
  transform: translateY(0);
}
.set-description {
  color: var(--main-lite-color);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
}

.info-set {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
}
/*Кнопка*/
.button {
  color: var(--title-text-color);
  background-color: var(--second-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.button:hover,
.button:focus {
  color: var(--main-lite-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.primary-button {
  display: inline-block;
  color: var(--main-lite-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  min-width: 216px;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 32px;
  border: 0 solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.primary-button:hover,
.primary-button:focus {
  background-color: var(--background-buttom-color);
}
.button.second {
  color: var(--main-lite-color);
  background-color: var(--accent-color);
}
.button-projects {
  display: flex;
  justify-content: center;
}
.button-projects .button-one + .button-one {
  margin-left: 8px;
}
/*Абзаци*/
.feature-list .text {
  line-height: 1.71;
}
.specialty {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
}
.info-description {
  font-size: 16px;
  line-height: 1.88;
}
/*Футер*/
.footer {
  padding: 60px 0px;
  background-color: var(--footer-background-color);
}
.footer-site {
  display: flex;
  align-items: baseline;
}
.footer.navigation {
  width: 231px;
}
.footer-logo {
  display: block;
  color: var(--main-lite-color);
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.contacts-item {
  margin-bottom: 9px;
}
.contacts-item:last-child {
  margin-bottom: 0px;
}
.location.second {
  line-height: 1.71;
  font-style: normal;
  color: var(--main-lite-color);
}
.phone.second,
.e-mail.second {
  line-height: 1.71;
  font-style: normal;
  color: var(--footer-phone-color);
}
.location.second:hover,
.location.second:focus,
.phone.second:hover,
.phone.second:focus,
.e-mail.second:hover,
.e-mail.second:focus {
  color: var(--accent-color);
}
.footer-social-links {
  margin-left: 70px;
}

.footer-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-lite-color);
}

.footer-list social {
  margin-top: 20px;
}

.footer-social-link {
  color: var(--main-lite-color);
  background-color: rgba(255, 255, 255, 0.1);
}
